# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

*.h text
*.idl text
*.odl text
*.rc text
*.txt text
*.TXT text

*.bas text eol=crlf encoding=cp1252
*.bat text eol=crlf
*.cls text eol=crlf encoding=cp1252
*.cmd text eol=crlf
*.ctl text eol=crlf encoding=cp1252
*.frm text eol=crlf encoding=cp1252
*.ini text eol=crlf
*.INI text eol=crlf
*.manifest text eol=crlf
*.pag text eol=crlf encoding=cp1252
*.rgs text eol=crlf
*.vbp text eol=crlf encoding=cp1252
*.vbw text eol=crlf encoding=cp1252
*.vbg text eol=crlf encoding=cp1252
*.xml text eol=crlf

*.avi binary
*.bmp binary
*.BMP binary
*.chm binary
*.ctx binary
*.cur binary
*.dll binary
*.frx binary
*.gif binary
*.ico binary
*.jpg binary
*.pgx binary
*.png binary
*.res binary
*.tlb binary
*.ttf binary

# All other extensions not explicitly mentioned here are left for Git to
# handle automatically.
# You must not rely on them having a particular line ending style!
